body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightcyan;
}

a {
  color: #00B7FF;
}
.color-background{
  color: #00B7FF;
}

.name-contain{
  max-width: 600 px;
  min-width: 100 px;
}

.box{
  height: 20 px;
  width: 100%;
}

.image-post{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 20%;
}

.blur-box{
  box-shadow: 10 px, 10 px, 10 px, grey;
}